node_modules
*.apk
server/data/outdate-test-markdown
android/MIUIX helper
activities.json
gradle-*.zip
android/keystore.properties
android/*.jks
android/app/*.jks
release.keystore
app-release.dm
android/.kotlin/errors/
output-metadata.json
server-go/gift-server.exe
